@font-face {
    font-family: 'Inter';
    src: url('/static/fonts/Inter-Regular.eot') format('embedded-opentype'),
    url('/static/fonts/Inter-Regular.svg') format('svg'),
    url('/static/fonts/Inter-Regular.ttf') format('truetype'),
    url('/static/fonts/Inter-Regular.woff') format('woff'),
    url('/static/fonts/Inter-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Inter;
    font-size: 14px;
}

.wrapper {
    width: 1200px;
    /*1134*/
    margin: 0 auto;
}

.wrapper-xl {
    max-width: 1297px;
    margin: 0 70px 0 233px;
}

.intro {
    background: linear-gradient(264.47deg, #2E43F0 29.39%, #6677FF 93.49%);
    margin-bottom: 80px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.logo {
    padding-top: 9px;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    width: 495px;
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    padding-top: 15px;
}

.header-link {
    color: #FFFFFF;
    opacity: 0.7;
}

.header-link:first-child {
    font-weight: 600;
    color: #FFFFFF;
    opacity: 1;
}

.button-common {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    color: #FFFFFF;
    background: rgba(255, 90, 5, 1);
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

.button-header {
    margin-right: 163px;
    width: 172px;
}

.intro-block {
    display: flex;
    margin-top: 47px;
}

.intro-about {
    width: 464px;
    padding: 50px 0 161px 0;
}

.intro-name {
    font-weight: 600;
    font-size: 20px;
    line-height: 160%;
    text-transform: uppercase;
    color: #FFFFFF;
}

.intro-title {
    font-weight: bold;
    font-size: 61px;
    line-height: 120%;
    color: #FFFFFF;
    padding-top: 15px;
}

.stripe {
    width: 365px;
    height: 0px;
    border: 1px solid #FFFFFF;
    background-color: #fff;
    margin-top: 20px;
}

.intro-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.7;
    padding-top: 20px;
    width: 418px;
}

.intro-buttons {
    display: flex;
    margin-top: 43px;
    height: 62px;
}

.common-intro {
    margin-right: 44px;
    width: 172px;
}

.button-free {
    background: linear-gradient(268.07deg, #001DFA 10.47%, #8996FF 104.89%);
    width: 149px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
}

.companies {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.block-img {
    width: 261px;
    margin: 41px 0 0 30px;
    box-shadow: 1px 4px 12px rgba(0, 0, 0, 0.08);
    display: flex;
    justify-content: center;
    padding: 17px 48px;
}

.wrapper-solutions {
    max-width: 1318px;
    margin: 0 217px 0 65px;
    display: flex;
    position: relative;
}

.solution-picture {
    width: 515px;
}

.transaction-block {
    width: 397px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 289px;
    left: 293px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 20px 30px 70px rgba(3, 7, 37, 0.06);
    border-radius: 10px;
}

.transaction {
    margin: auto;
    padding-top: 21px;
}

.transaction-title {
    font-weight: 600;
    font-size: 20.1118px;
    line-height: 25px;
    color: #404040;
}

.transaction-list {
    display: flex;
    padding-top: 15px;
}

.transaction-name {
    padding-top: 2px;
}

.transaction-item {
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.block-add-new {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.transaction-name-margin {
    margin-top: 12px;
}

.transaction-form {
    padding-top: 16px;
    display: flex;
    margin: 16px 0 27px 0;
}

.transaction-arrow {
    position: relative;
    right: 15px;
}

.transaction-input {
    background: #FFFFFF;
    border: 1px solid #1F37FF;
    border-radius: 8px;
}

.send-button {
    font-weight: bold;
    font-size: 11.1442px;
    line-height: 14px;
    padding: 11px 23px 11px 13px;
    margin-left: 10px;
}

.solutions {
    margin-top: 121px;
}

.solutions-about {
    margin-left: 256px;
}

.solutions-name {
    font-weight: 600;
    font-size: 17px;
    line-height: 160%;
    text-transform: uppercase;
    color: #FF5A05;
    opacity: 0.8;
}

.solutions-title {
    font-weight: bold;
    font-size: 49px;
    line-height: 120%;
    color: #05000B;
    padding-top: 12px;
}

.solutions-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #05000B;
    opacity: 0.7;
    padding-top: 25px;
}

.block-checked {
    display: flex;
    padding-top: 25px;
}

.checked {
    display: flex;
    align-items: center;
    padding-left: 35px;
    font-weight: 600;
    font-size: 20px;
    line-height: 160%;
    color: #05000B;
}

.check {
    padding-left: 17px;
}

.checked:first-child {
    padding: 0;
}

.button-learn {
    margin-top: 41px;
    width: 169px;
    height: 62px;
}

.block-numbers {
    margin: 192px 0 181px 0;
    background: url("/static/images/bg-numbers.png");
}

.numbers {
    display: flex;
    justify-content: space-between;
}

.number {
    width: 261px;
    height: 371px;
    background: url("/static/images/figure-numbers.png");
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 15px 25px rgba(0, 0, 0, 0.04);
}

.number-title {
    font-weight: bold;
    font-size: 55px;
    line-height: 120%;
    color: #1F37FF;
}

.number-subtitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 160%;
    color: #05000B;
    opacity: 0.7;
}

.block-ideas {
    padding: 84px 0 74px 0;
    background: #FFF9F5;
}

.ideas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.committed {
    width: 358px;
}

.committed-name {
    font-weight: 600;
    font-size: 20px;
    line-height: 160%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FF5A05;
}

.committed-title {
    font-weight: bold;
    font-size: 31px;
    line-height: 130%;
    color: #05000B;
    padding-top: 15px;
}

.committed-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #05000B;
    opacity: 0.7;
    padding-top: 20px;
}

.ideas {
    padding: 84px 0 75px 0;
}

.qualities-block {

}

.qualities {
    width: 358px;
    border: 2px solid rgba(66, 82, 207, 0.1);
    border-radius: 10px;
}


.qualities-img {
    height: 57px;
}

.qualities-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 160%;
    color: #05000B;
    padding-top: 20px;
}

.qualities-subtitle {
    width: 251px;
    padding-top: 9px;
}

.qualities-background-blue {
    background: #4252CF;
    border-radius: 10px;
    margin-bottom: 30px;
}

.qualities-title-white-text {
    color: #FFFFFF;
}

.qualities-subtitle-white-text {
    color: #FFFFFF;
    opacity: 0.8;
}

.qualities-ideas {
    padding: 34px 69px 35px 38px;
}

.qualities-blog {
    padding: 24px 69px 55px 38px;
    margin-bottom: 30px;
}

.qualities-friend {
    padding: 57px 69px 38px 38px;
}

.qualities-showcase {
    padding: 50px 69px 38px 38px;
}

.qualities-use {
    padding: 57px 69px 36px 38px;
}

.block-review {
    margin: 160px 0 121px 0;
}

.block-review-title {
    font-weight: bold;
    font-size: 49px;
    line-height: 120%;
    color: #05000B;
    text-align: center;
}

.block-review-subtitle {
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #05000B;
    opacity: 0.7;
    padding-top: 25px;
    width: 491px;
    margin: auto;
}

.say-about-us {
    display: flex;
    padding-top: 69px;
    position: relative;
}

.review {
    position: relative;
}

.review-title {
    font-weight: 600;
    font-size: 31px;
    line-height: 160%;
    color: #05000B;
}

.review-person {
    box-shadow: 13px 13px 31px rgba(0, 0, 0, 0.05);
    position: absolute;
    top: 124px;
}

.review-person-title {
    font-size: 25px;
    line-height: 160%;
    color: #05000B;
}

.review-person-subtitle {
    font-size: 20px;
    line-height: 160%;
    color: #05000B;
    opacity: 0.8;

}

.review-about {
    width: 655px;
    background: #FFFFFF;
    box-shadow: 13px 13px 31px rgba(0, 0, 0, 0.05);
    margin-top: 110px;
}

.star {
    display: flex;
    justify-content: end;
    padding-right: 30px;
}

.review-text {
    margin: 0;
    width: 515px;
    font-style: italic;
    font-size: 16px;
    line-height: 160%;
    color: #05000B;
    padding-top: 132px;
}

.person-img {
    position: absolute;
    left: 609px;
    z-index: -1;
}

.blue-figure {
    position: absolute;
    right: 0;
}

.quote {
    position: absolute;
    right: 28px;
    top: 110px;
}

.review-buttons {
    position: relative;
    padding-bottom: 121px;
}

.rewiew-button {
    position: absolute;
    top: 63px;
    left: 304px;
}

.arrows {
    position: absolute;
    top: 80px;
    left: 324px;
}

.plan {
    background: #EBEDFF;
    padding: 63px 0 227px;
}

.choose {
    text-align: center;
    margin: 0 auto;
    width: 451px;
    font-weight: bold;
    font-size: 31px;
    line-height: 160%;
    color: #05000B;
}

.plan-buttons {
    display: flex;
    justify-content: center;
    padding: 15px 25px;
    background: #FFFFFF;
    border-radius: 10px;
    margin: 0 auto;
    width: 357px;
}

.monthly-button {
    border-radius: 10px;
    padding: 15px 28px 15px 25px;
}

.yearly-button {
    font-weight: 600;
    color: #FF5A05;
    background: rgba(255, 90, 5, 0.1);
    border-radius: 10px;
    padding: 15px 27px 15px 28px;
    margin-left: 28px;
}

.prices {
    display: flex;
    justify-content: center;
    margin-top: -183px;
}

.price {
    border: 1px solid rgba(31, 55, 255, 0.1);
    border-radius: 10px;
    margin-left: 30px;
    width: 455px;
    background: #FFFFFF;
}

.price-icons {
    display: flex;
    justify-content: center;
}

.price-wrapper {
    background: url("/static/images/bg-price.png");
    width: 201px;
    height: 109px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}
.price-icon {
    padding: 16px 26px 55px;
}

.price-name {
    font-weight: 600;
    font-size: 31px;
    line-height: 160%;
    text-align: center;
    color: #05000B;
}

.price-title {
    font-weight: bold;
    font-size: 96.3951px;
    line-height: 120%;
    text-align: center;
    color: #1F37FF;
}

.price-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    text-align: center;
    color: #05000B;
}

.price-list {
    padding: 14px 95px 58px 127px;

}

.price-check {
    display: flex;
    padding-top: 14px;
}

.check-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #05000B;
    padding-left: 15px;
}

.price-button {
    display: flex;
    justify-content: center;
    padding-bottom: 44px;
}

.install-button {
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    padding: 14px 117px;
}

.newsletter {
    margin-top: 187px;
}

.block-newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FDEEE7;
    border-radius: 30px;
    position: relative;
    z-index: 2;
}

.block-newsletter::before {
    content: "";
    width: 1119px;
    height: 405px;
    background: #FDEEE7;
    opacity: 0.4;
    border-radius: 30px;
    position: absolute;
    top: -34px;
    z-index: -2;
}

.block-newsletter::after {
    content: "";
    width: 990px;
    height: 386px;
    background: #FDEEE7;
    opacity: 0.3;
    border-radius: 30px;
    position: absolute;
    top: -68px;
    z-index: -1;
}

.newsletter-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 160%;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FF5A05;
    padding-top: 67px;
}

.newsletter-subtitle {
    font-weight: 600;
    font-size: 39px;
    line-height: 130%;
    text-align: center;
    color: #05000B;
    width: 619px;
    padding-top: 35px;
}


.newsletter-input {
    padding: 35px 0 66px 0;

}

.input-field {
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #A6A6A6;
    padding: 26px 0 25px 20px;
    width: 562px;
    background: #FDEEE7;
    border-radius: 30px;
}

.subscribe-button {
    font-size: 16px;
    padding: 14px 53px;
    position: absolute;
    right: 342px;
    top: 284px;
}


.footer {
    margin-top: 121px;
    background: #000848;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 109px 0 173px 0;
}

.footer-icons {
    margin-top: 25px;
    position: relative;
}

.facebook-icon {
    position: absolute;
    top: 10px;
    left: 15px;
}

.twitter-icon {
    position: absolute;
    top: 13px;
    left: 57px;
}

.instagram-icon {
    position: absolute;
    top: 11px;
    left: 101px;
}

.youtube-icon {
    position: absolute;
    top: 12px;
    left: 145px;
}

.title-links {
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    color: #FFFFFF;
}

.footer-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.8;
    padding-top: 20px;
}
